<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Integrando HTML ao Flask</title>
</head>
<body>
    <h2>Integração do HTML com Flask</h2>
    <hr>
    <ol>
        {%for fruta in frutas%}
            <li>{{fruta}}</li>
        {%endfor%}
        <form action="{{url_for('principal')}}" method="POST">
        <form action="{{url_for('principal')}}" method="DELETE">
            <label>Frutas</label>
            <input type="text", name="fruta">
            <button>adicionar</button>
            <button>deletar</button>
        </form>
    </ol>
</body>
</html>